/*_Font_*/
@font-face {
  font-family: 'Gosha';
  src: urlCss('fonts/Gosha Sans/GoshaSans-Regular.eot');
  src: urlCss('fonts/Gosha Sans/GoshaSans-Regular.eot') format('embedded-opentype'),
  urlCss('fonts/Gosha Sans/GoshaSans-Regular.woff2') format('woff2'),
  urlCss('fonts/Gosha Sans/GoshaSans-Regular.woff') format('woff'),
  urlCss('fonts/Gosha Sans/GoshaSans-Regular.ttf') format('truetype'),
  urlCss('fonts/Gosha Sans/GoshaSans-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}