.header_main {
  font-family: $IBM;
  padding: 30px 0 26px;
  position: relative;
  z-index: 3;
  transition: top $time, background $time;
  &.scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f0f0f0;
  }
  &.animation {
    .container {
      &:after {
        width: 0;
        transition: 1s ease-in-out .4s;
      }
    }
    .header_main__left, .header_main__menu {
      position: absolute;
      top: -10vh;
      opacity: 0;
      transition: .8s ease-in-out .1s;
    }

    &.active {
      .container {
        &:after {
          width: 100%;
        }
      }
      .header_main__left, .header_main__menu {
        opacity: 1;
        position: relative;
        top: 0;
      }
    }
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:after {
      position: absolute;
      bottom: -26px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #000;
      content: '';
    }
  }

  .header_main__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 615px;
    z-index: 3;
  }

  .header_main__logo {
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    position: relative;
    cursor: pointer;
    &:hover {
      &:before {
        top: 0;
        transform: scale(.6) translate(-140%, -50%);
      }
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: scale(1) translate(-140%, -50%);
      width: 21px;
      height: 21px;
      background: #000000;
      content: '';
      border-radius: 50%;
      transition: transform $time .5s, top $time;
    }
  }

  .header_main__lang {
    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 30px;
        position: relative;

        a {
          font-size: 16px;
          font-weight: 400;

          &.active {
            font-weight: 700;
          }
        }

        &:before {
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
          content: '/';
        }

        &:last-child {
          margin-right: 0;

          &:before {
            content: none;
          }
        }
      }
    }
  }

  .header_main__menu {
    display: flex;
    align-items: center;

    nav {
      ul {
        display: flex;
        align-items: center;

        li {
          margin-right: 96px;

          &:last-child {
            margin-right: 0;
          }

          a {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}