<header class="header_main animation">
    <div class="container">
        <div class="header_main__left">
            <div class="header_main__lang">
                <ul>
                    <li><a href="#" class="en">eng</a></li>
                    <li><a href="#" class="ru active">рус</a></li>
                </ul>
            </div>
            <a class="header_main__logo">insite</a>
        </div>
        <div class="header_main__menu">
            <nav>
                <ul>
                    <li><a href="#">о нас</a></li>
                    <li><a href="#">проекты</a></li>
                    <li><a href="#">связаться с нами</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>