<header class="header_main animation">
    <div class="container">
        <input type="checkbox" id="menu_checkbox" class="header_main__menu__checkbox">
        <label for="menu_checkbox" class="header_main__menu__btn"><div class="header_main__menu__icon"></div></label>
        <div class="header_main__left">
            <a class="header_main__logo">insite</a>
        </div>
        <div class="header_main__menu">
            <nav class="header_main__menu__list">
                <ul>
                    <li><a href="#about">о нас</a></li>
                    <li><a href="#projects">проекты</a></li>
                    <li><a href="#contact">связаться с нами</a></li>
                </ul>
                <div class="header_main__lang">
                <ul>
                    <!--
                    <li><a href="#" class="en">eng</a></li>
                    <li><a href="#" class="ru active">рус</a></li>
                    -->
                </ul>
            </div>
            </nav>
        </div>
    </div>
</header>