$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$fontBlack: #000;
/*fonts*/
$IBM: 'IBM Plex Mono';
$Rubik: 'Rubik';
$Gosha: 'Gosha';
/*effects*/
$time: .4s ease-in-out;